//spect-css styling reset
textarea {
  resize: none;
}

.container {
  max-width: 90vw;
  @include minWidth($md) {
    max-width: 80vw;
  }
}

.form-input {
  margin-bottom: 10px;
}

.form-checkbox {
  margin: 0;
  margin-top: 4px;
}
