@import "./miscellaneous/variables";
@import "./mixins//responsiveness.scss";
@import "./miscellaneous/reset";
@import "./miscellaneous/spectre-reset";
@import "./miscellaneous/util";

//Components
@import "./components/main-header";

//Compontens - Dashboard
@import "./components/dashboard/board";
@import "./components/dashboard/frame";
@import "./components/dashboard/todo";
@import "./components/dashboard/pop-over";

// Pages
@import "./pages/login/login";
@import "./pages/dashboard/dashboard";
